body {
    background-color: aqua;
}

h1 {
    margin-left: 50px;
    text-align: center;
    color: maroon;
}

h2 {
    text-align: center;
    font-size: small;
    color: green
}

p {
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    text-align: center;
    color: violet;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    display: flex;
    border: 2px solid purple;
    border-radius: 7px;
}

.flex-item {
    width: 100px;
    margin: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 100px;
    font-size: 30px;
    color: white;
}

.box-1 {
    background-color: blue;
}

.box-2 {
    background-color: blueviolet;
}

.box-3 {
    background-color: coral;
}

.box-4 {
    background-color: crimson;
}

.box-5 {
    background-color: darkmagenta;
}

.pic {
    border: 3px solid red;
}